body {
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

.carousel {
  width: 96%;
  min-height: 900px;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}

.slides {
  display: flex;
  flex-direction: row;
  z-index: 3;
  position: relative;
  transition-duration: 1s;
}

.slide-image {
  padding-top: 10vh;
  position: absolute;
  z-index: 3;
  text-align: center;
  transition-duration: 1s;
}

.slide-text {
  transition-duration: 1.3s;
}

.arrows-container {
  height: 32px;
  position: absolute;
  width: 104%;
  top: 50%;
  left: -2%;
}

.slide-arrow {
	cursor: pointer;
	font-size: 2rem;
	position: relative;
  z-index: 5;
  opacity: .7;
}


.slide-arrow.right {
	float: right;
}

.slide-arrow.left {
	float: left;
}

.fade-in {
  animation: fadeIn ease 1.3s;
}


@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:.7;
  }
}
